body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}
ul, ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.contacts {
    font-style: normal
}
.logo{
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    }
.logo-studio {
    font-family: "Raleway", sans-serif;
    color: #2E2F42;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
}
.page-nav {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
   } 
.page-nav:hover,
.page-nav:focus {
     color: #404BBF;        
}
.contacts {
    font-style: normal
}
.page-contacts {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}
.page-contacts:hover,
.page-contacts:focus {
    color: #404BBF;
}
.title {
        color: #ffffff;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
}
.but {
        color: #ffffff;
        background-color: #4D5AE5;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-align: center;
        width: 169px;
        height: 56px;
        top: 428px;
        left: 636px;
        padding: 16px, 32px, 16px, 32px;
        border-radius: 4px; 
        gap: 10px;
        cursor: pointer;
}
.but:hover,
.but:focus {
    background-color: #404BBF;
}
.section-title {
        color: #2e2f42;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
}
.section-one {
    background-color: #2e2f42;
}
.category {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
}